.calculator {
    
    margin: 150px auto;
    width: 300px;
    text-align: center;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0, 111, 180);
    padding: 10px;
  }
  div {
    background: #466368;
    background: radial-gradient(#648880, #293f50);
    border-radius: 10px;
    height: 310px;
  }
  
  input[type=text] {
    width: 90%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  
  .buttons button {
    width: 50px;
    height: 50px;
    font-size: 19px;
    margin: 5px;
    border-radius: 5px;
    background-color: lightgrey;
    border: none;
    box-shadow: 2px 2px 2px grey;
  }
  
  .buttons button:hover {
    background-color: grey;
    color: red;
    cursor: pointer;
  }
  body{
    background-image: url(https://www.google.com/imgres?q=background%20mathematics&imgurl=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffh260%2Fbackground%2F20200530%2Fpngtree-cute-hand-drawn-style-mathematics-education-pink-plaid-background-image_337364.jpg&imgrefurl=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds-photos%2Fmathematics&docid=GqwTeTxmX2lr2M&tbnid=SthNPLEIONCPPM&vet=12ahUKEwi6uYeP-rGFAxVQxDgGHQxUAG0QM3oECFIQAA..i&w=555&h=260&hcb=2&ved=2ahUKEwi6uYeP-rGFAxVQxDgGHQxUAG0QM3oECFIQAA);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
